<p>Здравей, {{ name }}</p>
<p>Ти успешно се записа за доброволец. Твоят акаунт в системата беше създаден:</p>
<p><strong>Потребителско име</strong>: {{ name }}</p>
<p><strong>Парола</strong>: {{ password }}</p>
